files:
  "/etc/filebeat/filebeat.yml":
     mode: "000755"
     owner: root
     group: root
     content: |
       filebeat:
         prospectors:
         - paths: [/var/app/current/logs/service.log*]
           enabled: true
           input_type: log 
           document_type: json 
           fields:
             context: service_log
             service: service_name_here 
           fields_under_root: true
           ignore_older: 4h
           scan_frequency: 10s
           tail_files: true
         - paths: [/var/log/nginx/access.log]
           enabled: true
           input_type: log
           document_type: log
           fields:
             context: nginx_access
             service: service_nginx_access
           fields_under_root: true
           ignore_older: 4h
           scan_frequency: 10s
           tail_files: true
         - paths: [/var/log/nginx/error.log]
           enabled: true
           input_type: log
           document_type: log
           fields:
             context: nginx_error
             service: service_nginx_err 
           fields_under_root: true
           ignore_older: 4h
           scan_frequency: 10s
           tail_files: true
       output:
         logstash:
           hosts: ['elk.xxx.net:5044']
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.0.1-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-5.0.1-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat restart"
