option_settings:
  - option_name: SENTRY_POSTGRES_HOST 
    value: postgres-for-sentry.c8eel1ayybza.eu-central-1.rds.amazonaws.com
  - option_name: SENTRY_POSTGRES_PORT
    value: 5432 
  - option_name: SENTRY_DB_NAME 
    value: postgres 
  - option_name: SENTRY_DB_USER 
    value: masteruser 
  - option_name: SENTRY_DB_PASSWORD 
    value: masterpassword 
  - option_name: SENTRY_REDIS_HOST 
    value: r-sentry.00dk7i.0001.euc1.cache.amazonaws.com
  - option_name: SENTRY_REDIS_PORT 
    value: 6379 
  - option_name: SENTRY_SECRET_KEY 
    value: "test"
